<section id="main-page" class="main-page">
  <section id="buttons-section" class="main-page__buttons-section">
    <button
      class="main-page__buttons-section__sync-data"
      mat-stroked-button
      color="primary"
      (click)="syncWithService()"
    >
      {{ "core.buttons.syncData" | translate }}
    </button>
    <button
      class="main-page__buttons-section__change-language"
      mat-stroked-button
      color="primary"
      (click)="changeLanguage()"
    >
      {{ "core.buttons.changeLanguage" | translate }}
    </button>
  </section>
  <muruna-main-table-section
    *ngIf="!isLoading"
    [dataSource]="dataSource"
  ></muruna-main-table-section>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</section>
