<section id="main-page" class="main-page">
  <section id="buttons-section" class="main-page__buttons-section">
    <button
      class="main-page__buttons-section__sync-data"
      mat-stroked-button
      color="primary"
      (click)="syncWithService()"
    >
      {{ "core.buttons.syncData" | translate }}
    </button>
    <button
      class="main-page__buttons-section__change-language"
      mat-stroked-button
      color="primary"
      (click)="changeLanguage()"
    >
      {{ "core.buttons.changeLanguage" | translate }}
    </button>
    <button
      class="main-page__buttons-section__add-new"
      mat-stroked-button
      color="primary"
      (click)="createNewMovie()"
    >
      {{ "core.buttons.addNew" | translate }}
    </button>
  </section>
  <muruna-main-table-section
    *ngIf="!isLoading"
    [dataSource]="dataSource"
    (eventEmitter)="processTableEmission($event)"
  ></muruna-main-table-section>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <muruna-main-cru-section
    *ngIf="showCruComponent"
    (cancelEmitter)="cancelCRUProcess()"
    (eventEmitter)="processCRUEmission($event)"
    [movieTo]="currentMovieTo"
  ></muruna-main-cru-section>
</section>
