.main-page {
  &__table-section {
    margin: 0rem 2rem 3rem 2rem;

    .mat-mdc-table {
      width: 100%;
      max-height: 500px;
      overflow: auto;
    }

    .mat-column-name {
      height: 100px;
    }
  }
}
